<html>
  <head>
      <title>Airport authority</title>
      <link href='style2.css' rel='stylesheet'>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
      <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
  </head>
  <body>
    <p>Airport authority</p>
    <br>
    <a href="/logout" class="button" >Sign Out</a>
    <br>

    <table id="table_id" class="display">
      <thead>
        <tr>
          <th>Serial Number</th>
          <th>Barcode</th>
          <th>Product Name</th>
          <th>Date</th>
          <th>Maintenance</th>
        </tr>
      </thead>
      <tbody>
        <% data.products.forEach(function(all) { %>
          <tr>
            <td><%= all.serialNo %></td>
            <td> </td>
            <td><%= all.productName %></td>
            <td><%= all.date %></td>
            <td><%= all.maintenance%></td>
          </tr> 
        <% }) %>
      </tbody>
    </table>

<script>
  $(document).ready( function () {
      $('#table_id').DataTable();
  });
</script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
</body>
</html>