<!DOCTYPE html>
<html lang = "en" dir = "ltr">
  <head>
    <meta charset = "utf-8">
    <title>Signup</title>
    <link rel = "stylesheet" href = "style1.css">
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset = "utf-8"></script>
  </head>
  <body>

      <form action="/signup" method="POST" class = "signup">
        <h1> Sign Up </h1>

        <div class = "userlogin"></div>
        <div class = "txtb">
          <input type = "text" name="username">
          <span data-placeholder = "Username"></span>
        </div>

        <div class = "txtb">
          <input type = "password" name="password">
          <span data-placeholder = "Enter Password"></span>
        </div>

        <input type = "submit" class = "logbtn" value = "Sign Up">

      </form>

      <script type = "text/javascript">
      $(".txtb input").on("focus",function(){
        $(this).addClass("focus");
      });

      $(".txtb input").on("blur",function(){
        if($(this).val() == "")
        $(this).removeClass("focus");
      });

      </script>


  </body>
</html>
